<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/add_book" method="post">
        title <input type="text" name="title">
        author <input type="text" name="author">
        isbn <input type="text" name="isbn">
        publisher <input type="text" name="publisher">
        page <input type="integer" name="page">
        quantity <input type="integer" name="qty">
        <input type="submit">
    </form>
</body>
</html>